
@{
    ViewData["Title"] = "HeartRate";
}
<!--
    HeartRate es para desplegar la informacion que se esta monitoreando actualmente,
    hay que importar una biblioteca de una pagina llamada ubidots para usar las graficas
    que ya tiene la pagina
    Nota: podemos quitarla y usar la pagina de ubidots directamente, ya sea con un link o separando 
    las funcionalidades de la vista en 2 vista.
-->
<h2>HeartRate</h2>

